<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    {% include multisitenav.html %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.root }}/">{{ site.name }}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/getting-started">Getting Started Home</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Analysts &amp; Managers</li>
            <li role="presentation"><a href="http://maec.mitre.org/about/docs/MAEC_Overview.pdf" target="_blank">Overview (PDF)</a></li>
            <li role="presentation" class="disabled"><a href="#" class="coming-soon" data-toggle="tooltip" data-placement="right" title="Coming Soon!">Walkthrough</a></li>
            <li role="presentation" class="disabled"><a href="#" class="coming-soon" data-toggle="tooltip" data-placement="right" title="Coming Soon!">Modeling Exercise</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Developers</li>
            <li role="presentation"><a href="https://github.com/MAECProject/python-maec/wiki/Getting-Started">Getting Started with Python</a></li>
            <li role="presentation"><a href="/getting-started/sample-walkthrough">XML Sample Walkthrough</a></li>
            <li role="presentation"><a href="/getting-started/authoring-tutorial">XML Authoring Tutorial</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/documentation">Documentation Home</a></li>
            <li role="presentation" class="divider"></li>
			<li role="presentation"><a href="/documentation/overview/MAEC_Overview.pdf">MAEC Overview</a></li>
			<li role="presentation"><a href="/documentation/specs">Specifications</a></li>
            <li role="presentation"><a href="/documentation/idioms">Idioms</a></li>
            <li role="presentation"><a href="/documentation/use_cases">Use Cases</a></li>
            <li role="presentation"><a href="/documentation/suggested_practices">Suggested Practices</a></li>
			<li role="presentation"><a href="/documentation/data_model_overview">Data Model Overview</a></li>
			<li role="presentation"><a href="/documentation/common_features">Common Features</a></li>
			<li role="presentation"><a href="/documentation/utils">Utilities</a></li>
			<li role="presentation"><a href="/documentation/characterize_malware/Characterizing_Malware_MAEC_and_STIX_v1.0.pdf">Characterizing Malware</a></li>
			<li role="presentation"><a href="/documentation/faqs">FAQs</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Model<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/documentation/data_model_overview">Overview</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Package Types</li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecPackage/PackageType">Package</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecPackage/MalwareSubjectType">Malware Subject</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecPackage/AnalysisType">Analysis</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Bundle Types</li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/BundleType">Bundle</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/MalwareActionType">Action</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/BehaviorType">Behavior</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/CapabilityType">Capability</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/ProcessTreeType">Process Tree</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/AVClassificationType">AV Classification</a></li>
          </ul>

		</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Releases <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/releases/4.1">MAEC 4.1 (current release)</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="/documentation/roadmap">MAEC 5.0 Roadmap</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="/releases/archive">Releases Archive</a></li>
          </ul>
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/community"> Community Home </a></li>
             <li role="presentation" class="divider"></li>
             <li role="presentation"><a href="/working-call">MAEC 5.0 Working Calls</a></li>
             <li role="presentation" class="divider"></li>
             <li role="presentation"><a href="/news">Latest MAEC News</a></li>
            <li role="presentation" class="divider"></li>           
          </ul>
		<li>
		  <a href="/about-maec">About</a>
		</li>
		
      </ul>

      <div class="col-sm-4 col-md-4 pull-right header-search">
        <form class="navbar-form full-width" role="search">
          <input type="text" class="form-control doc-types" placeholder="Search MAEC Data Model..." name="header-search" id="header-search">
        </form>
      </div>

    </div>
  </div>
</div>
