<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    {% include multisitenav.html %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.root }}/">{{ site.name }}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/getting-started">Getting Started Home</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="http://maec.mitre.org/about/docs/MAEC_Overview.pdf" target="_blank">Overview (PDF)</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="https://github.com/MAECProject/python-maec/wiki/Getting-Started">Getting Started with Python</a></li>
            <li role="presentation"><a href="/getting-started/sample-walkthrough">XML Sample Walkthrough</a></li>
            <li role="presentation"><a href="/getting-started/authoring-tutorial">XML Authoring Tutorial</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Releases <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/releases/5.0">MAEC 5.0 (Draft)</a></li>
            <li role="presentation" class="divider"></li>
	    <li role="presentation"><a href="/documentation/roadmap">MAEC 5.0 Roadmap & Timeline</a></li>
            <li role="presentation" class="divider"></li>
	    <li role="presentation"><a href="/releases/4.1">MAEC 4.1 (Current Release)</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="/releases/archive">Releases Archive</a></li>
          </ul>
         </li>
          	
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Model<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/documentation/data_model_overview">Overview</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Package Types</li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecPackage/PackageType">Package</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecPackage/MalwareSubjectType">Malware Subject</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecPackage/AnalysisType">Analysis</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Bundle Types</li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/BundleType">Bundle</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/MalwareActionType">Action</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/BehaviorType">Behavior</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/CapabilityType">Capability</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/ProcessTreeType">Process Tree</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/maecBundle/AVClassificationType">AV Classification</a></li>
          </ul>
         </li>
         	
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/documentation">Documentation Home</a></li>
            <li role="presentation" class="divider"></li>
			<li role="presentation"><a href="/documentation/overview/MAEC_Overview.pdf">MAEC Overview</a></li>
			<li role="presentation"><a href="/documentation/specs">Specifications</a></li>
            <li role="presentation"><a href="/documentation/idioms">Idioms</a></li>
            <li role="presentation"><a href="/documentation/use_cases">Use Cases</a></li>
            <li role="presentation"><a href="/documentation/suggested_practices">Suggested Practices</a></li>
			<li role="presentation"><a href="/documentation/data_model_overview">Data Model Overview</a></li>
			<li role="presentation"><a href="/documentation/common_features">Common Features</a></li>
		  	<li role="presentation"><a href="/documentation/versioning_policy">Versioning Policy</a></li>
			<li role="presentation"><a href="/documentation/utils">Utilities</a></li>
			<li role="presentation"><a href="/documentation/characterize_malware/Characterizing_Malware_MAEC_and_STIX_v1.0.pdf">Characterizing Malware</a></li>
			<li role="presentation"><a href="/documentation/faqs">FAQs</a></li>
          </ul>
        </li>

	 <li>
	  <a href="/about-maec">About MAEC</a>
	</li>    	      	      
	      
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/community">Community Home</a></li>
	    <li role="presentation"><a href="/community/#discussion-lists--archives">Discussion List &amp; Archives</a></li>
	    <li role="presentation"><a href="/community/#tool--utility-development">Tool &amp; Utility Development</a></li>
	    <li role="presentation"><a href="/community/#encyclopedia-of-malware-attributes">Encyclopedia of Malware Attributes</a></li>
            <li role="presentation"><a href="/community/supporters">MAEC Supporters</a></li>
          </ul>
		
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">News<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/news">Latest News</a></li>
	    <li role="presentation"><a href="/community/#free-newsletter">Free Newsletter</a></li>
          </ul>		
		
	<li>
	  <a href="https://collaborate.mitre.org/ema/index.php/ema:Main_Page">Encyclopedia of Malware Attributes (EMA)</a>
	</li>
		
      </ul>

    </div>
  </div>
</div>
